
    <div class="container">

        <h2 class="form-signin-heading">ログイン</h2>
        <p class="textRed"><?php echo $this->Session->flash('auth'); ?></p>

<?php echo $this->Form->create('Member', array('id' => 'UserForm', 'url' => '/user/login/','class' => 'form-horizontal')) ?>

          <div class="form-group">
            <label class="col-sm-3 control-label">ユーザID<span class="red">*</span></label>
            <div class="col-sm-6">
<?php echo $this->Form->input('user_id',array('type' =>'text', 'label'=>false,'class'=>'form-control')) ?>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">パスワード<span class="red">*</span></label>
            <div class="col-sm-6">
<?php echo $this->Form->input('password',array('label'=>false,
                                                'class'=>'form-control',
                                                'placeholder' => 'Password',
                                                )) ?>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3" style="margin:0 auto;float:none;">
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
            </div>
          </div>

<?php echo $this->Form->end(); ?>

    </div> <!-- /container -->
