<?php
$this->set('title_for_layout','注文方法 | エスグラフィック');

$this->Html->meta('keywords', '注文方法', array('inline' => false));
$this->Html->meta('description', '注文方法 クラスや文化祭・イベント等のオリジナルTシャツをどこよりも安く、最高品質でお届けします！オリジナルデザインTシャツプリントはエスグラフィックへ！', array('inline' => false));

$arrTopicPath[] = array('ショップガイド' => '/guide/');
$arrTopicPath[] = array('注文方法' => '');
$this->set('arrTopicPath',$arrTopicPath);

$code_area = <<< EOF
<!-- Google Code for &#12522;&#12510;&#12540;&#12465;&#12486;&#12451;&#12531;&#12464; &#12479;&#12464; -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 992548227;
var google_conversion_label = "AZxSCM3xqQQQg6uk2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992548227/?value=0&amp;label=AZxSCM3xqQQQg6uk2QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- TransCosmos リターゲティングタグ 2014.09.12-->
<script type="text/javascript">var smnAdvertiserId = '00001783';</script><script type="text/javascript" src="//cd-ladsp-com.s3.amazonaws.com/script/pixel.js"></script>

<!-- TransCosmos YDNリタゲタグ 2014.10.06-->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'UD8Y2WVECU';
var yahoo_retargeting_label = '';
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>
EOF;
$this->assign('code_area', $code_area);
?>

<!-- コンテンツ -->
<section class="container">
<div id="g">

<h2 class="toptitle01"><img src="/img/subtitle_order.png"  class="img-responsive" alt="注文方法"/></h2>

<div class="row">

<!-- 右メイン -->
<div class="col-md-9 col-md-push-3 right_main order">

<p class="lead">オリジナルTシャツ、オリジナルプリントウェアのご注文は、以下で説明するステップに従って簡単にご注文頂けます。</p>
      <h3 class="toptitle02"><img src="/img/subtitle_order01.png" class="img-responsive" alt="まずはご確認ください" /></h3>
      <div class="onebox">
        <p>・ プリントデザインのデータ（<a href="http://www.esgraphic.co.jp/guide/send">詳しい説明はこちら</a>）はご準備されていますか？<br />
          ・ プリントウェアの必要枚数、色、プリント位置はお決まりですか？</p>
      </div>
      <h3 class="toptitle02"><img src="/img/subtitle_order02.png" class="img-responsive" alt="オリジナルプリントウェア注文完了までの流れ" /></h3>
      <div class="onebox">
        <ul class="section">
          <li><a href="#step1"><img src="http://www.esgraphic.co.jp/images/order_btn1.png" alt="STEP1 商品を選択" width="95" /></a></li>
          <li><a href="#step2"><img src="http://www.esgraphic.co.jp/images/order_btn2.png" alt="STEP2 お買い物商品一覧" width="95" /></a></li>
          <li><a href="#step3"><img src="http://www.esgraphic.co.jp/images/order_btn3.png" alt="STEP3 プリントの要・不要" width="95" /></a></li>
          <li><a href="#step4"><img src="http://www.esgraphic.co.jp/images/order_btn4.png" alt="STEP4 注文者情報入力" width="95" /></a></li>
          <li><a href="#step5"><img src="http://www.esgraphic.co.jp/images/order_btn5.png" alt="STEP5 ご注文の確認" width="95" /></a></li>
          <li><a href="#step6"><img src="http://www.esgraphic.co.jp/images/order_btn6.png" alt="STEP6 ご注文完了" width="95" /></a></li>
          <li><a href="#step7"><img src="http://www.esgraphic.co.jp/images/order_btn7.png" alt="STEP7 プリント詳細決定" width="85" /></a></li>
        </ul>
        <br>
        <div style="clear:both;"></div>
        <div class="flowbox png" id="step1">
          <h4 class="toptitle04">STEP1 商品を選択する</h4>
          <img src="http://www.esgraphic.co.jp/images/step1_p.png" class="png floatRight" alt="商品を選択する" width="203" height="139" />
          <h5 class="png">プリントオーダーする方</h5>
          <p>プリントウェアをご注文されるお客様は、『オーダーする』から、Tシャツ・トレーナーなどの<br />
            カテゴリから、ご希望の商品を選択してください。 <br />
            その後、ブランド・種類別の一覧からご希望の商品を選択してください。<br />
            その後商品詳細ページで、ご希望商品のカラー、価格、サイズなどをご確認のうえ、<br />
            ご希望枚数を入力後、ページ一番下にある”カートに入れる”ボタンを押してください。</p>
          <h5 class="png">無地のTシャツを購入される方</h5>
          <p>プリントオーダーする場合と同様に商品をカートに追加してください。その後、プリントなし（無地）で購入することができます。</p>
          <h5 class="png">見積もりをしたい方</h5>
          <p>『見積りをする』ページから、必要事項をご入力の上、デザインをお送りください。後日スタッフよりご連絡いたします。</p>
        </div>
        <div class="flowbox png" id="step2">
          <h4 class="toptitle04">STEP2 お買い物商品一覧</h4>
          <h5 class="png">お買い物商品一覧</h5>
          <p>カートに入っている商品の一覧です。商品、単価、注文枚数などご確認のうえ、お買い物を続けられる方は”お買い物を続ける”ボタンを押してください。注文する商品が全て揃いましたら”次のステップへ”ボタンを押してください。</p>
          <p>過去、当店でお買い物をした事があり、ログイン登録がお済みのお客様は「会員様ログイン」よりログインIDとパスワードをご入力の上、ログインしてください。ログインIDは「初回購入時のメールアドレス」をご入力ください。また、パスワードをお忘れの場合、「パスワードを忘れたお客様はこちらへお進み下さい」のリンクよりパスワードを再発行してください。</p>
        </div>
        <div class="flowbox png" id="step3">
          <h4 class="toptitle04">STEP3 プリントの要・不要</h4>
          <img src="http://www.esgraphic.co.jp/images/step3_p.png" class="png floatRight" alt="プリントの要・不要" width="176" height="191" />
          <h5 class="png">商品にプリントをされる方</h5>
          <p>『デザインが決定しているので入稿します』にチェックを入れ、”次のステップへ”お進みください。</p>
          <h5 class="png">デザインをその場で送れない方</h5>
          <p>『デザインは未確定なので後日入稿します』にチェックを入れ、”次のステップへ”お進みください。<br />
            デザインの入稿方法は、ご注文完了後、メールにてお知らせいたしますので、<br />
            デザインが決定次第注文を完了してください。</p>
          <h5 class="png">無地のまま購入される方</h5>
          <p>『プリントはしません。無地のまま購入します』にチェックを入れ、”次のステップへ”お進みください。</p>
        </div>
        <div class="flowbox png" id="step4">
          <h4 class="toptitle04">STEP4 注文者情報入力</h4>
          <h5 class="png">お客様情報の入力</h5>
          <p>お支払い方法は、クレジットカード、代金引換、銀行振込からご選択頂けます。お届けはクロネコヤマトとなります。<br />
            お申込者情報、お届け先情報、配達日時のご指定などをご入力ください。</p>
          <p>STEP2. のお買物商品にて、一覧会員様ログインにご入力頂いたお客様は今までに溜まったポイントを<br />
            「ご利用ポイント」欄に入力することで割り引きご利用頂けます。今回、ご利用にならないポイントは次回以降のご注文でポイント割引にご利用頂けます。勿論、今回お買い物時でもポイントは溜まります。</p>
        </div>
        <div class="flowbox png" id="step5">
          <h4 class="toptitle04">STEP5 ご注文の確認</h4>
          <h5 class="png">入力情報の確認</h5>
          <p>STEP5で入力された情報、ご注文商品の詳細をご確認ください。<br />
            ご利用規約をご覧頂きまして、内容に問題がなければ、”注文する”ボタンを押してください。</p>
        </div>
        <div class="flowbox png" id="step6">
          <h4 class="toptitle04">STEP6 ご注文完了</h4>
          <h5 class="png">お疲れさまでした！</h5>
          <p>ご注文が完了しました。自動返信メールにてご注文情報をお送りいたします。<br />
自動返信によって送信されるご注文内容・金額は製品代のみとなっており、<br />
製版代やプリント料金は計算されておりません。</p>
        </div>
        <div class="flowbox png" id="step7">
          <h4 class="toptitle04">STEP7 プリントの詳細を決める</h4>
          <h5 class="png">プリントデザインのアップロード</h5>
          <p>プリントをオーダーのお客様は自動返信で届いたメールのメールアドレスまで<br />
データを添付し、プリントのご指示をご記入のうえお送りください。<br />
データを確認後にプリントに掛かる料金を含めてお見積り・納期をお知らせ致します。</p>
        </div>
      </div>
      
 
<img src="/img/inquirybox.png"  class="img-responsive" alt="お問い合わせ"/>
</div>
<!-- 右メイン -->

<!-- 左　メニュー -->
<?php echo $this->element('side_nav');?> 
<!-- 左　メニュー -->


</div>

</div>
</section>

<!-- コンテンツ -->