<?php
$this->set('title_for_layout','入稿方法 | エスグラフィック');

$this->Html->meta('keywords', '入稿方法', array('inline' => false));
$this->Html->meta('description', '入稿方法 クラスや文化祭・イベント等のオリジナルTシャツをどこよりも安く、最高品質でお届けします！オリジナルデザインTシャツプリントはエスグラフィックへ！', array('inline' => false));

$arrTopicPath[] = array('ショップガイド' => '/guide/');
$arrTopicPath[] = array('入稿方法' => '');
$this->set('arrTopicPath',$arrTopicPath);

$code_area = <<< EOF
<!-- Google Code for &#12522;&#12510;&#12540;&#12465;&#12486;&#12451;&#12531;&#12464; &#12479;&#12464; -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 992548227;
var google_conversion_label = "AZxSCM3xqQQQg6uk2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992548227/?value=0&amp;label=AZxSCM3xqQQQg6uk2QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- TransCosmos リターゲティングタグ 2014.09.12-->
<script type="text/javascript">var smnAdvertiserId = '00001783';</script><script type="text/javascript" src="//cd-ladsp-com.s3.amazonaws.com/script/pixel.js"></script>

<!-- TransCosmos YDNリタゲタグ 2014.10.06-->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'UD8Y2WVECU';
var yahoo_retargeting_label = '';
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>
EOF;
$this->assign('code_area', $code_area);
?>

<!-- コンテンツ -->
<section class="container">
<div id="g">

<h2 class="toptitle01"><img src="/img/subtitle_send.png"  class="img-responsive" alt="入稿方法"/></h2>

<div class="row">

<!-- 右メイン -->
<div class="col-md-9 col-md-push-3 right_main">

<h3 class="toptitle02"><img src="/img/subtitle_send01.png"  class="img-responsive" alt="デザイン入稿"/></h3>
 
<p>デザインは可能な限りイラストレーターファイルでお送り下さい。</p>

<div class="inner">

	<h4 class="toptitle04">Adobe Illustrator(バージョンCS5まで)</h4>

	<p>持ち込み品は1枚100円(税込108円)の持ち込み料金を申し受けます。</p>

	<ul class="mark1">
		<li>
			カラーはDICカラーパレットを使用して、御希望のカラーをデザインに設定して下さい。<br />
			※<a href="">DICカラーパレットの使用方法はこちら</a><br />
			※DIC599-621はパソコン上では通常のカラーのように色表示されますが、金銀系統の特色ですので使用しないで下さい。白・黒や金銀等特色はDIC指定の必要はありません。特色は指示書に明記して下さい。<br />
			やむを得ずCMYKで指定の場合は各色10%単位で設定して下さい。
		</li>
		<li>スタイルや特殊なブラシなどを使用しないで下さい。</li>
		<li>デザインの大きさは必ず実寸100%にして下さい。</li>
		<li>
			線幅1.5pt未満のラインや小さい文字は使用しないで下さい。（文字も1.5ptのライン幅を基準として下さい。）<br />
			プリントされない部分も同様に、細い線などは表現できません。
		</li>
		<li>フォントは全てアウトライン化して下さい。</li>
		<li>画像を配置したファイルは使用出来ません。</li>
		<li><a href="">こちらにプリント位置指定用ファイルがありますのでダウンロードしてご利用下さい。</a></li>
	</ul>
</div>

<div class="inner">

	<h4 class="toptitle04">Adobe PS・gif・jpg画像</h4>

	<ul class="mark1">
		<li>大きさは100%、解像度は300dpi以上のものをお送り下さい。</li>
		<li>細い線はプリント出来ません。0.5mm以上の線にして下さい。</li>
		<li>多色の場合、分版作業に日数が掛かり納期が延びる場合があります。また、デザイン修正の加工料が掛かる場合があります。</li>
		<li>1色プリントの場合は出来る限りプリント部分を黒・バックを白にして色指定は別のファイルで入稿して下さい。</li>
	</ul>
</div>

<div class="inner">

	<h4 class="toptitle04">その他の形式</h4>

	<ul class="mark1">
		<li>
			WORD･EXEL書類は原稿としてお受けできません。<br />
			プリントアウトした紙原稿などで入稿ください。
		</li>
		<li>デザインの書き直しがある場合は、書き直し後お客様にご確認頂いてからの進行になりますので通常より納期が掛かります。</li>
		<li>複雑なデザインはお受けできない場合があります。</li>
	</ul>
</div>

<p class="fontcolor-red">ご不明な点はメールにてお尋ね下さい。</p>

<h3 class="toptitle02"><img src="/img/subtitle_send02.png"  class="img-responsive" alt="デザインの送り方"/></h3>

<p>
デザインはプリント注文のページの書式を元にメールに添付してお送り下さい。<br />
送り方が判らない場合や、ファイルサイズが非常に大きい場合はCD-RやMOなどに保存して郵送や宅配などでお送り下さい。<br />
MOは640MBまでのディスクでお願いします。ディスクはMacintoshで読み込みが出来るフォーマットで保存して下さい。
</p>

<h3 class="toptitle02"><img src="/img/subtitle_send03.png"  class="img-responsive" alt="プリントカラーの指定"/></h3>

<p>
プリントカラーはAI形式の場合はそのままデザインにDICcolorで色を設定して下さい。（設定方法はこちら）<br />
ビットマップ画像の場合、1色のものはプリント部分を黒1色で、2色以上のものはそのまま色を付けて下さい。<br />
プリントインクは御指定の色に合わせて調色します。出来る限りDICカラーにてご指定下さい。<br />
やむをえずCMYKでご指定される場合は、パーセンテージを各色10％単位で設定して下さい。 1％単位でご指定頂いても再現できません。
</p>

<p>
ご指定頂いたカラーは、紙の カラーガイドを参照して調色しますので、お客さまがパソコンのモニターで確認されるカラーとは誤差が生じる場合があります。<br />
こちらに用意しているカラーチャートは下記のものです。
</p>

<div class="inner">

	<h4 class="toptitle04">DIC　大日本インキ化学工業（株）</h4>
	<p>
		PART1,PART2、日本の伝統色、中国の伝統色、フランスの伝統色、プロセスカラーガイド1000<br />
		→ <a href="">DICカラーガイドのページ</a>
	</p>
</div>

<div class="inner">

	<h4 class="toptitle04">PANTONE</h4>
	<p>
		PART1,PART2<br />
		→ <a href="">PANTONEのホームページ</a>
	</p>
</div>

<div class="inner">

	<h4 class="toptitle04">視覚デザイン研究所</h4>
	<p>カラーチャート1368（書店で購入できます）</p>
</div>

<div class="inner">

	<h4 class="toptitle04">河出書房新社</h4>
	<p>カラーチップ事典　PART1,PART2（書店で購入できます）	</p>
</div>

<h3 class="toptitle02"><img src="/img/subtitle_send04.png"  class="img-responsive" alt="注文の際の必要記入事項"/></h3>

<p class="send_size">
	<img src="/img/send_size.png" alt="プリントサイズ" class="png floatLeft img-responsive" width="406" height="174" /></p>

	プリントの大きさ・プリントの色数とプリントカラー指定・プリント位置・前/後などの区別と具体的な位置指定があれば左図のようにご指定ください。特に位置指定がなければ弊社にて決めさせて頂きます。<br />
	プリント位置はプリント対象が伸縮のある生地ですのでmm単位の指定は出来ません。cm単位でも多少の誤差が出ますので御了承下さい。<br />
	プリント位置の左図の位置に限らずどこでもプリント可能ですが、縫い目の付近など段差の生じる位置にはプリント出来ない場合があります。
</p>

<p class="fontcolor-red">プリント位置のご指定はリブ（首の部分）を含む寸法か含まない寸法（リブ下の縫い目からの寸法）かを必ず明記下さい。記載がない場合は、リブを含む寸法（上記の図のように）と判断させて頂きます。</p>

<h4 class="toptitle04">製品のブランド・カラー・サイズごとの枚数</h4>

<p>製品のサイズやカラーはバラバラでも構いません。</p>

<h4 class="toptitle04">御注文主と発送先に関する事項</h4>

<p class="sub_p_02">御注文主の連絡先・電話番号</p>
<p>プリントに関する質問や発送のお知らせでお電話をする場合があります。</p>

<p class="sub_p_02">発送先御住所・郵便番号・電話番号</p>
<p>代引きの宅配の場合、配達前に宅配業者から電話連絡がありますので電話番号の記入が必要です。</p>

<p class="sub_p_02">配達希望日時</p>
<p>御希望の納期があれば出来る限りお答えします。御希望の配達時間帯があれば時間指定させて頂きます。</p>

<img src="/img/inquirybox.png"  class="img-responsive" alt="お問い合わせ"/>
</div>
<!-- 右メイン -->

<!-- 左　メニュー -->
<?php echo $this->element('side_nav');?> 
<!-- 左　メニュー -->


</div>

</div>
</section>

<!-- コンテンツ -->