<?php
$meta_title = Configure::read('html.detail');
$meta_keywords = Configure::read('html.detail');
$meta_description = Configure::read('html.detail');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->css('/css/style.css', null, array('inline' => false));
$this->Html->script('/js/follower.js', array('inline' => false));
$this->Html->script('/js/page.js', array('inline' => false));

$arrTopicPath[] = array('商品詳細' => '/guide/');
$arrTopicPath[] = array('商品詳細' => '');
$this->set('arrTopicPath',$arrTopicPath);

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);

$arrItem = $arrData['Item'];
$arrMember = $arrData['Member'];

?>
<section class="blue2">
  <h2 class="f25 mb30">認証が必要な商品です</h2>
  
<?= $this->Form->create('Item',
                            array('url' => '/item/password',
                                  'class' => 'form-horizontal',
                                  'role'=>'form'
)); ?>

<?= $this->Form->input('id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => $arrData['Item']['id'],
)) ?>

    <table class="ml30 mb30 table-res01">
      <tr>
        <th class="width20">パスワード</th>
        <td>
<?= $this->Form->input('password',
                            array('label' => false,
                                  'div' => false,
                                  'type' => 'password',
                                  'size' => 20,
                								  'class' => 'sp_width90',
)) ?>
        <p class="mt10 error-message"><?= $this->Session->flash('auth'); ?></p>
        </td>
      </tr>
    </table>

    <p class="textcenter pt20">
      <input type="submit" class="mybtn-bl mybtn-bl-md"value="認証する" />
    </p>

<?= $this->Form->end(); ?>


  <h2 class="f25 mb20 mt50">この商品を買った人はこんな商品も買っています</h2>
  <!-- <div class="row item product clearfix"> 20170805 mod -->
  <div class="row item clearfix">
<?php if(!empty($arrLikeData)): ?>
<?php foreach($arrLikeData as $row): ?>
<?= $this->element('item_1col_no_price', ['row' => $row]) ?>
<?php endforeach; ?>
<?php else: ?>
<?php endif; ?>
  </div>

  <h2 class="f25 mb20">この出品者の人気商品</h2>
  <div class="row item clearfix">
<?php if(!empty($arrSaleRanking)): ?>
<?php foreach($arrSaleRanking as $row): ?>
<?= $this->element('item_1col_no_price', ['row' => $row]) ?>
<?php endforeach; ?>
<?php else: ?>
<?php endif; ?>
  </div>

  <h2 class="f25 mb20">最近閲覧した商品</h2>
  <div class="row item clearfix">
<?php if(!empty($arrBrowse)): ?>
<?php foreach($arrBrowse as $i => $row): ?>
<?= $this->element('item_1col_no_price', ['row' => $row]) ?>
<?php if($i%4 == 3) echo '</div><div class="row item product clearfix">' ?>
<?php endforeach; ?>
<?php else: ?>
<?php endif; ?>
  </div>
</section>
