<?php
$this->set('title_for_layout','お問い合わせ（送信完了） | エスグラフィック');

$this->Html->meta('keywords', 'お問い合わせ（送信完了）', array('inline' => false));
$this->Html->meta('description', 'お問い合わせ クラスや文化祭・イベント等のオリジナルTシャツをどこよりも安く、最高品質でお届けします！オリジナルデザインTシャツプリントはエスグラフィックへ！', array('inline' => false));

$arrTopicPath[] = array('お問い合わせ' => '/form/inquiry');
$arrTopicPath[] = array('送信完了' => '');
$this->set('arrTopicPath',$arrTopicPath);

$code_area = <<< EOF
<!--{literal}-->
<!-- Yahoo Code for &#12362;&#21839;&#21512;&#12379;_20120705 Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var yahoo_conversion_id = 1000036960;
var yahoo_conversion_label = "jnByCPzPlwMQlNXJ3QM";
var yahoo_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="https://s.yimg.jp/images/listing/tool/cv/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://b91.yahoo.co.jp/pagead/conversion/1000036960/?value=0&amp;label=jnByCPzPlwMQlNXJ3QM&amp;guid=ON&amp;script=0&amp;disvt=true"/>
</div>
</noscript>
<!--{/literal}-->

<!-- Google Code for &#21839;&#21512;&#12379; Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 998101804;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "ZkftCKT-1AMQrKb32wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript"
src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="http://www.googleadservices.com/pagead/conversion/998101804/?value=0&amp;label=ZkftCKT-1AMQrKb32wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<!-- Google Code for &#12522;&#12510;&#12540;&#12465;&#12486;&#12451;&#12531;&#12464; &#12479;&#12464; -->
<!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 992548227;
var google_conversion_label = "AZxSCM3xqQQQg6uk2QM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992548227/?value=0&amp;label=AZxSCM3xqQQQg6uk2QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- TransCosmos リターゲティングタグ 2014.09.12-->
<script type="text/javascript">var smnAdvertiserId = '00001783';</script><script type="text/javascript" src="//cd-ladsp-com.s3.amazonaws.com/script/pixel.js"></script>

<!-- TransCosmos YDNリタゲタグ 2014.10.06-->
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'UD8Y2WVECU';
var yahoo_retargeting_label = '';
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script>
EOF;
$this->assign('code_area', $code_area);
?>

<!-- コンテンツ -->
<section class="container">
<div id="g">

<h2 class="toptitle01"><img src="/img/subtitle_inquiry.png"  class="img-responsive" alt="お問い合せ"/></h2>

<div class="row">

<!-- 右メイン -->
<div class="col-md-9 col-md-push-3 right_main inquiry">

    <h3 class="toptitle02"><img src="/img/subtitle_inquiry03.png" alt="送信" /></h3>
      <div class="onebox">
        <h4 class="png">お問い合せありがとうございました！</h4>
        <p>送信いただいた内容は、担当者が確認した後、折り返しご連絡をさしあげます。<br />
          お問合せ内容の確認メールを、自動配信でお送りしております。<br />
          メールが届かない場合は、送信が完了していないことがございます。<br />
          お手数ではございますが、下記メールアドレス宛までご連絡ください。<br />
          E-Mail: <a href="mailto:&#111;&#114;&#100;&#101;&#114;&#64;&#101;&#115;&#103;&#114;&#97;&#112;&#104;&#105;&#99;&#46;&#99;&#111;&#46;&#106;&#112;">
&#111;&#114;&#100;&#101;&#114;&#64;&#101;&#115;&#103;&#114;&#97;&#112;&#104;&#105;&#99;&#46;&#99;&#111;&#46;&#106;&#112;</a><br />
        <p><a href="#">トップページに戻ります</a></p>
      </div>

<img src="/img/inquirybox.png"  class="img-responsive" alt="お問い合わせ"/>
</div>
<!-- 右メイン -->

<!-- 左　メニュー -->
<?php echo $this->element('side_nav');?> 
<!-- 左　メニュー -->


</div>

</div>
</section>

<!-- コンテンツ -->