	<form action="<!--{$param.fm_action}-->" name="form1" method="post" >
	<input name="data[mode]" id="mode" type="hidden" value="" />
			<p style="text-align:right;"><input type="button" value="新規登録" class="btn" onclick="location.href = '<!--{$param.add_url}-->'" />&nbsp;<input type="button" value="順位変更" class="btn" onclick="chgSort();return false" />&nbsp;&nbsp;<input type="submit" value="チェックを削除する" class="btn" onclick="confirmDel();return false" />&nbsp;&nbsp;&nbsp;&nbsp;表示数
<label>
	<select name="select" id="select" onchange="chgDispNum(this)"> 
		<!--{html_options options=$disp_numbers selected=$current_disp_num}-->
	</select> 
</label></p>
	<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
		<tr>
			<th width="20%" align="center">カテゴリ</th>
			<th width="30%" align="center">メニュー名</th>
			<th width="30%" align="center">説明</th>
			<th width="15%" align="center">アクション</th>
			<th width="5%" align="center">順位</th>
		</tr>

<!--{ section name=i loop=$param.entity.list }-->
<!--{assign var=list value=$param.entity.list[i]}-->

		<tr>
			<td><!--{$list.category_name|escape}--></td>
			<td><!--{$list.memu_name|escape}--></td>
			<td><!--{$list.description|escape}--></td>
			<td align="center"><a href="<!--{$home_url}-->admin/site/menu/mod/<!--{$list.id}-->">詳細・編集</a></td>
			<td align="center" nowrap="nowrap"><input type="text" name="data[sort][<!--{$list.rank}-->,<!--{$list.id}-->]" value="<!--{$list.rank}-->" style="width:20px;" >&nbsp;<input type="checkbox" name="data[del][<!--{$smarty.section.i.index}-->]" value="<!--{$list.id}-->"></td>
		</tr>
<!--{ /section }-->
<!--リスト処理-->

			</table><p style="text-align:right;"><input type="submit" value="チェックを削除する" class="btn" onclick="confirmDel();return false" />&nbsp;&nbsp;&nbsp;&nbsp;表示数
<label><select name="select" id="select" onchange="chgDispNum(this)"> 
<!--{html_options options=$disp_numbers selected=$current_disp_num}-->
</select> 
</label></p>
	</form>
<div class="pager">
<ul> 
<!--{if $param.entity.prev == 0}-->
<li class="prev"></li> 
<!--{else}-->
<li class="prev"><a href="<!--{$home_url}-->admin/site/menu/list/<!--{$param.entity.prev}-->">&laquo; PREV</a></li> 
<!--{/if}-->
<!--{section name=i loop=$param.entity.pg_list}-->
<!--{if $param.entity.current_pg == $param.entity.pg_list[i]}-->
<li><em><!--{$param.entity.pg_list[i]}--></em></li> 
<!--{else}-->
<li><a href="<!--{$home_url}-->admin/site/menu/list/<!--{$param.entity.pg_list[i]}-->"><!--{$param.entity.pg_list[i]}--></a></li> 
<!--{/if}-->
<!--{/section}-->
<!--{if $param.entity.next == 0}-->
<li class="next"></li> 
<!--{else}-->
<li class="next"><a href="<!--{$home_url}-->admin/site/menu/list/<!--{$param.entity.next}-->">NEXT &raquo;</a></li> 
<!--{/if}-->
</ul> 
</div>

<form action="<!--{$home_url}-->admin/site/menu/list/" name="form2" method="post" >
<input type="hidden" id="disp_num" name="data[disp_num]" value="">
</form>
