
<!--{assign var=entity value=$param.entity}-->
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="table1">
				<tr>
					<th width="20%">レイアウト</th>
					<td>
						<!--{$entity.page_layouts.name|escape}-->
					</td>
				</tr>
				<tr>
					<th width="20%">領域名</th>
					<td>
						<!--{$entity.page_regions.name|escape}-->
					</td>
				</tr>
				<tr>
					<th width="20%">コード名</th>
					<td>
						&lt;!--@R_<!--{$entity.page_regions.code}-->--&gt;
					</td>
				</tr>
			</table>
			<div class="submit_area">
				<input name="submit" type='button' value='一覧に戻る' class="btn" onclick="location = '<!--{$home_url}-->admin/site/regions/'" />　
				<input name="submit" type='button' value='修　　正' class="btn" onclick="location = '<!--{$param.reentry_url}--><!--{$entity.page_regions.id}-->'" />　
<!--{if $param.complete_url != ""}-->
				<input name="submit" type='button' value='確　　定' class="btn" onclick="location = '<!--{$param.complete_url}-->'" />　
<!--{/if}-->
			</div>