<!-- フッターメニュー -->
<div id="f">
<ul class="unav">
<li><a href="/">HOME</a></li>
<li><a href="/info/sitemap">サイトマップ</a></li>
<li><a href="/guide/">ショップガイド</a></li>
<li><a href="/guide/order">ご注文方法</a> </li>
<li><a href="/price/">料金について</a> </li>
<li><a href="/guide/payment">お支払方法</a> </li>
<li><a href="/guide/delivery">送料・納品について</a></li>
<li><a href="/mypage/">マイページ</a></li>
<li><a href="/info/">会社概要</a></li>
<li><a href="/info/privacy">個人情報保護方針</a></li>
<li><a href="/form/inquiry/">お問い合せ</a> </li>
</ul>

</div>
<!-- フッターメニュー -->

<!-- SNS -->
<div class="sns">
<a href="https://ja-jp.facebook.com/esgraphic.ltd" target="_blank"><img src="/img/facebook.png" alt="Facebook"></a>
<a href="https://twitter.com/share"><img src="/img/twitter.png" alt="Twitter"></a>

</div>
<!-- SNS -->

<!-- フッタ -->
<div id="page-top"><p><a href="javascript:void(0)"><img src="/img/pagetop.png" width="60" height="60" alt=""/></a></p></div>

<div id="c">
<img src="/img/logo02.png" class="img-responsive margin-bottom-20" alt=""/>
<p mb50>有限会社 エスグラフィック<br />
TEL:0575-23-6493<br />
〒501-3814 　岐阜県関市東山1-6-1</p>

<p>Copyright©1999-2015 esgraphic Inc. All rights reserved</p>
</div>
<!-- フッタ -->

<!-- カート -->
<div id="cartArea">
    <div id="close_button"><a href="javascript:void(0)" class="closeCartArea"><img src="/img/cart_close_button.png" alt="カートを閉じる"></a></div>
    <div id="cartItemBox"></div>
    <div id="cartTotalBox"></div>
    <div id="nextButton"><a href="/cart/"><img src="/img/cart_next_button.png" alt="購入手続きへ"></a></div>
</div>
<!-- カート -->
