

        <h2 class="form-signin-heading">ログイン</h2>
        <p class="textRed"><?php echo $this->Session->flash('auth'); ?></p>

<?php echo $this->Form->create('Member', array('url' => '/cart/login/'.$mode,'class' => 'form-horizontal')) ?>

          <div class="form-group">
            <label class="col-sm-3 control-label">ユーザID<span class="red">*</span></label>
            <div class="col-sm-6">
<?php echo $this->Form->input('user_id',array('label'=>false,'type' => 'text', 'class'=>'form-control', 'style'=>'width:100%;','placeholder' => 'yourmail@mail.com')) ?>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">パスワード<span class="red">*</span></label>
            <div class="col-sm-6">
<?php echo $this->Form->input('password',array('label'=>false,'class'=>'form-control','placeholder' => 'Password','value' => '', 'style'=>'width:100%;')) ?>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-3" style="margin:0 auto; float:none; text-align: center;">
              <button class="mybtn mybtn01" type="submit">ログイン</button>
            </div>
          </div>

<?php echo $this->Form->end(); ?>

