<?php
$meta_title = Configure::read('html.itemRegister');
$meta_keywords = Configure::read('html.itemRegister');
$meta_description = Configure::read('html.itemRegister');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$arrTopicPath[] = array('マイページ' => '/mypage/');
$arrTopicPath[] = array('デスクトップ' => '');
$this->set('arrTopicPath',$arrTopicPath);

$arrCategory = Configure::read('arrCategory');
$arrSelling = Configure::read('arrSelling');

$this->Html->css('/css/style.css', null, array('inline' => false));
$this->Html->css('/remodal/src/remodal.css', null, array('inline' => false));
$this->Html->css('/remodal/src/remodal-default-theme.css', null, array('inline' => false));

$this->Html->script('/remodal/src/remodal.js', array('inline' => false));
$this->Html->script('/js/page.js', array('inline' => false));

$code_area = <<< EOF
$('.curArea').click(function() {
$("#input_name").val($(this).attr("name"));
});

$('#fileup_submit').click(function() {
$("#fileup_title").val($("#title").val());
$("#fileup_price").val($("#price").val());
$("#fileup_category").val($("#category").val());
$("#fileup_discription").val($("#discription").val());
$("#fileup_message").val($("#message").val());
$("#fileup_password").val($("#password").val());
$("#fileup_fee").val($("#fee").val());
$("#fileup_tag1").val($("#tag1").val());
$("#fileup_tag2").val($("#tag2").val());
$("#fileup_tag3").val($("#tag3").val());
$("#fileup_tag4").val($("#tag4").val());
$("#fileup_tag5").val($("#tag5").val());
$("#FileUpForm").submit();
});
EOF;
$this->assign('script_area', $code_area);
?>

<section>
    <?php $completeModal = isset($isSuccess) ? 1 : 0; ?>
    <div data-isSuccess = "<?php echo $completeModal; ?>" id = "checkModal"></div>
    <h2 class="f25 mb20">商品情報登録ページ</h2>

    <?php
    if (isset($limitedMsg) && $limitedMsg != '') :
    ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <?php echo $limitedMsg; ?>
    </div>
    <?php else : ?>
    <h3 class="ml30 mt30 mb20"><span>商品アップロード</span></h3>

    <?php
    $msg = $this->Session->flash('auth');
    if(!empty($msg)):
    ?>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <?php echo $msg; ?>
    </div>
    <?php endif; ?>

    <?php echo $this->Form->create('Item',
    array('id' => 'ItemForm',
    'class' => 'ml60 spml_0',
    'url' => '/mypage/item/'.$arrData['Item']['id'],
    'type' => 'file',
    )); ?>
    <?php echo $this->Form->input('id',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['id'],
    )) ?>
    <?php echo $this->Form->input('member_id',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['member_id'],
    )) ?>
    <?php echo $this->Form->input('mode',
    array('label' => false,
    'type' => 'hidden',
    'id' => 'mode',
    )) ?>
    <?php echo $this->Form->input('main_image_file_name',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['main_image_file_name'],
    )) ?>
    <?php echo $this->Form->input('sub_image1_file_name',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['sub_image1_file_name'],
    )) ?>
    <?php echo $this->Form->input('sub_image2_file_name',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['sub_image2_file_name'],
    )) ?>
    <?php echo $this->Form->input('sub_image3_file_name',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['sub_image3_file_name'],
    )) ?>
    <?php echo $this->Form->input('sub_image4_file_name',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['sub_image4_file_name'],
    )) ?>
    <div class="row">
        <p class=" ml20"><span class="strong">フロント画像</span><span class="drag-drop-info pl10 small">※点線の中にファイルをドラッグ&ドロップしてください</span></p>
        <div class="col-xs-12 col-sm-12 col-md-4 drag-drop-inside front-img" id="div-0">
            <!-- <dl class="width200p alignleft sp_width100" id="dl-0"> -->
            <dl id="dl-0">
                <dt id="dt-0">
                <?php
                if(!empty($arrData['Item']['main_image_file_name'])){
                echo $this->Upload->uploadImage($arrData,'Item.main_image',array('style'=>'thumb'),array('onerror'=>'onImgErr(this)'));
                }else{
                echo '<img src="/img/front.png" alt="フロント画像" id="img-0">';
                }
                ?>
                </dt>
                <dd class="black textcenter pt10 underline item-p01" id="dd-0">
                    <a data-remodal-target="modal" class="curArea" name="main_image">画像を編集する</a>
                    <?php if(!empty($arrData['Item']['main_image_file_name'])): ?>
                    <p class="item-p01"><a class="image_del" href="javascript:void(0)" data-url="/mypage/item_image_del/main_image/<?php echo $arrData['Item']['id'] ?>">画像削除</a></p>
                    <?php endif; ?>
                </dd>
                <?php echo $this->Form->error('main_image_file_name') ?>
            </dl>
        </div>
        <div class="alignright pr100 col-xs-12 col-sm-12 col-md-8">
            <p class="strong">商品ファイルアップロード<br></p>
            <?php if(isset($arrData['Item']['file_size']) && $arrData['Item']['file_size'] > 0): ?>
            <table class="table table-bordered">
                <tr>
                    <th>商品ファイル</th>
                    <td>登録済み</td>
                </tr>
                <tr>
                    <th>ファイルタイプ</th>
                    <td><?php echo $arrData['Item']['file_type'] ?></td>
                </tr>
                <tr>
                    <th>容量</th>
                    <td><?php echo $arrData['Item']['file_size'] ?></td>
                </tr>
            </table>
            <?php else: ?>
            <table class="table table-bordered">
                <tr>
                    <th>商品ファイル</th>
                    <td id="file-regist">未登録</td>
                </tr>
                <tr>
                    <th>ファイルタイプ</th>
                    <td id="file-type"> -- </td>
                </tr>
                <tr>
                    <th>容量</th>
                    <td id="file-size"> -- </td>
                </tr>
            </table>
            <?php endif; ?>
            <div class="drag-drop-inside item-file" id="div-i">
                <p class="red">※<?php echo intVal($arrUploadMaxSize) ?>MBまでのアップロードです</p>
                <progress value="0" style="display: none;width: 80%;" id="progress"></progress>
                <?php echo $this->Form->input('item_file',
                    array('type'=>'file', 'id' => 'item_upload_file', 'label'=>false, 'div' => false, 'class' => 'aligncenter')) ?>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <div class="box_highlight" style="margin: 10px 0; padding: 10px; clear: both;">
                <p class="clear"><span class="strong">サンプル画像</span><span class="drag-drop-info pl10 small">※点線の中にファイルをドラッグ&ドロップしてください</span></p>
                <div class="product add_sample_img clearfix">
                    <div class="row drag-drop-area">
                        <dl class="col-xs-12 col-sm-12 col-md-3 sample-img drag-drop-inside" id="dl-1">
                            <dt id="dt-1">
                            <?php
                            if(!empty($arrData['Item']['sub_image1_file_name'])){
                            echo $this->Upload->uploadImage($arrData,'Item.sub_image1',array('style'=>'list_s'),array('onerror'=>'onImgErr(this)'));
                            }else{
                            echo '<img src="/img/front_s.png" alt="フロント画像" id="img-1">';
                            }
                            ?>
                            </dt>
                            <dd class="black underline textcenter pt10" id="dd-1">
                                <p class="item-p01"><a data-remodal-target="modal" class="curArea" name="sub_image1">画像を編集する</a></p>
                                <?php if(!empty($arrData['Item']['sub_image1_file_name'])): ?>
                                <p class="item-p01"><a class="image_del" href="javascript:void(0)" data-url="/mypage/item_image_del/sub_image1/<?php echo $arrData['Item']['id'] ?>">画像削除</a></p>
                                <?php endif; ?>
                            </dd>
                            <?php echo $this->Form->error('sub_image1_file_name') ?>
                        </dl>
                        <dl class="col-xs-12 col-sm-12 col-md-3 sample-img drag-drop-inside" id="dl-2">
                            <dt id="dt-2">
                            <?php
                            if(!empty($arrData['Item']['sub_image2_file_name'])){
                            echo $this->Upload->uploadImage($arrData,'Item.sub_image2',array('style'=>'list_s'),array('onerror'=>'onImgErr(this)'));
                            }else{
                            echo '<img src="/img/front_s.png" alt="フロント画像" id="img-2">';
                            }
                            ?>
                            </dt>
                            <dd class="black underline textcenter pt10" id="dd-2">
                                <p class="item-p01"><a data-remodal-target="modal" class="curArea" name="sub_image2">画像を編集する</a></p>
                                <?php if(!empty($arrData['Item']['sub_image2_file_name'])): ?>
                                <p class="item-p01"><a class="image_del" href="javascript:void(0)" data-url="/mypage/item_image_del/sub_image2/<?php echo $arrData['Item']['id'] ?>">画像削除</a></p>
                                <?php endif; ?>
                            </dd>
                        </dl>
                        <dl class="col-xs-12 col-sm-12 col-md-3 sample-img drag-drop-inside" id="dl-3">
                            <dt id="dt-3">
                            <?php
                            if(!empty($arrData['Item']['sub_image3_file_name'])){
                            echo $this->Upload->uploadImage($arrData,'Item.sub_image3',array('style'=>'list_s'),array('onerror'=>'onImgErr(this)'));
                            }else{
                            echo '<img src="/img/front_s.png" alt="フロント画像" id="img-3">';
                            }
                            ?>
                            </dt>
                            <dd class="black underline textcenter pt10" id="dd-3">
                                <p class="item-p01"><a data-remodal-target="modal" class="curArea" name="sub_image3">画像を編集する</a></p>
                                <?php if(!empty($arrData['Item']['sub_image3_file_name'])): ?>
                                <p class="item-p01"><a class="image_del" href="javascript:void(0)" data-url="/mypage/item_image_del/sub_image3/<?php echo $arrData['Item']['id'] ?>">画像削除</a></p>
                                <?php endif; ?>
                            </dd>
                        </dl>
                        <dl class="col-xs-12 col-sm-12 col-md-3 sample-img drag-drop-inside" id="dl-4">
                            <dt id="dt-4">
                            <?php
                            if(!empty($arrData['Item']['sub_image4_file_name'])){
                            echo $this->Upload->uploadImage($arrData,'Item.sub_image4',array('style'=>'list_s'),array('onerror'=>'onImgErr(this)'));
                            }else{
                            echo '<img src="/img/front_s.png" alt="フロント画像" id="img-4">';
                            }
                            ?>
                            </dt>
                            <dd class="black underline textcenter pt10" id="dd-4">
                                <p class="item-p01"><a data-remodal-target="modal" class="curArea" name="sub_image4">画像を編集する</a></p>
                                <?php if(!empty($arrData['Item']['sub_image4_file_name'])): ?>
                                <p class="item-p01"><a class="image_del" href="javascript:void(0)" data-url="/mypage/item_image_del/sub_image4/<?php echo $arrData['Item']['id'] ?>">画像削除</a></p>
                                <?php endif; ?>
                            </dd>
                        </dl>
                    </div>
                </div>

            </div><!-- /box_highlight -->
        </div>

        <div class="col-md-12">

            <table class="table table-striped table-bordered item_info">
                <tbody>
                    
                
                    <tr>
                        <th>状況</th>
                        <td>
                           <!-- <?php echo $arrSelling[$arrData['Item']['selling']]; ?>-->
                            
                            <?php echo $this->Form->input('selling',
                            array('label' => false,
                            'div' => false,
                            'type' => 'select',
                            'class'=>'form-control',
                            'options' => $arrSelling,
                            'value' => $arrData['Item']['selling'],
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>タイトル名(必須)</th>
                        <td>
                            <?php echo $this->Form->input('title',
                            array('label' => false,
                            'div' => false,
                            'type' => 'text',
                            'id' => 'title',
                            'class' => 'sp_width90',
                            'size' => 42,
                            'value' => $arrData['Item']['title'],
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>価格(必須)</th>
                        <td><?php echo $this->Form->input('price',
                            array('label' => false,
                            'div' => false,
                            'type' => 'text',
                            'id' => 'price',
                            'size' => 10,
                            'value' => $arrData['Item']['price'],
                            'class' => 'size20',
                            )) ?> 円</td>
                    </tr>
                    <tr>
                        <th>ジャンル(必須)</th>
                        <td>
                            <?php echo $this->Form->input('category',
                            array('label' => false,
                            'div' => false,
                            'type' => 'select',
                            'id' => 'category',
                            'class'=>'form-control',
                            'options' => $arrCategory,
                            'value' => $arrData['Item']['category'],
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>商品説明(必須)</th>
                        <td>
                            <?php echo $this->Form->input('discription',
                            array('label' => false,
                            'div' => false,
                            'type' => 'text',
                            'id' => 'discription',
                            'class' => 'sp_width90',
                            'rows' => 8,
                            'cols' => 40,
                            'value' => $arrData['Item']['discription'],
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>購入者へのメッセージ(必須)</th>
                        <td>
                            <?php echo $this->Form->input('message',
                            array('label' => false,
                            'div' => false,
                            'class' => 'sp_width90',
                            'type' => 'text',
                            'id' => 'message',
                            'rows' => 5,
                            'cols' => 40,
                            'value' => $arrData['Item']['message'],
                            'placeholder' => 'ご購入ありがとうございました',
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>パスワード</th>
                        <td>
                            <?php echo $this->Form->input('password',
                            array('label' => false,
                            'div' => false,
                            'type' => 'text',
                            'id' => 'password',
                            'size' => 20,
                            'value' => $arrData['Item']['password'],
                            )) ?>
                        </td>
                    </tr>
                    <tr>
                        <th>キーワードタグ</th>
                        <td>
                            <table class="search ">
                                <tr>
                                    <td>
                                        <?php echo $this->Form->input('tag1',
                                        array('label' => false,
                                        'div' => false,
                                        'type' => 'text',
                                        'id' => 'tag1',
                                        'size' => 14,
                                        'value' => $arrData['Item']['tag1'],
                                        )) ?>
                                    </td>
                                    <td>
                                        <?php echo $this->Form->input('tag2',
                                        array('label' => false,
                                        'div' => false,
                                        'type' => 'text',
                                        'id' => 'tag2',
                                        'size' => 14,
                                        'value' => $arrData['Item']['tag2'],
                                        )) ?>
                                    </td>
                                    <td>
                                        <?php echo $this->Form->input('tag3',
                                        array('label' => false,
                                        'div' => false,
                                        'type' => 'text',
                                        'id' => 'tag3',
                                        'size' => 14,
                                        'value' => $arrData['Item']['tag3'],
                                        )) ?>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <?php echo $this->Form->input('tag4',
                                        array('label' => false,
                                        'div' => false,
                                        'type' => 'text',
                                        'id' => 'tag4',
                                        'size' => 14,
                                        'value' => $arrData['Item']['tag4'],
                                        )) ?>
                                    </td>
                                    <td>
                                        <?php echo $this->Form->input('tag5',
                                        array('label' => false,
                                        'div' => false,
                                        'type' => 'text',
                                        'id' => 'tag5',
                                        'size' => 14,
                                        'value' => $arrData['Item']['tag5'],
                                        )) ?>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                 </tbody>
            </table>


            <h4 class="strong underline pt20">契約事項確認</h4>
            <ul>
                <li>・第三者の所有権・著作権・プライバシー・肖像権などを侵害するコンテンツ</li>
                <li>・児童ポルノや無修正ポルノ</li>
                <li>・暴力行為・犯罪行為など社会道徳・公序良俗に反するコンテンツ</li>
                <li>・「禁止事項」に反するコンテンツ</li>
            </ul>
            <p class="red pt20">※契約事項に違反するコンテンツの投稿を確認した場合、事前の警告なく<br/>即時アカウントの停止をおこないます。<br>
                また、法的な処罰の対象となる場合がございますのでご注意ください。 </p>
            <p>
                <?php echo $this->Form->input('agree',
                array('label' => false,
                'div' => false,
                'type' => 'checkbox',
                'value' => '',
                'error' => false,
                )) ?>
                投稿コンテンツが上記に該当しないことを誓約します。</p>
            <?php echo $this->Form->error('Item.agree', null, array('escape' => false)); ?>
            <p class="textcenter pt20">
                <!-- button_style_blue -->
                <input type="submit" value="商品をアップロードする" class="mybtn mybtn06">
            </p>
            <?php echo $this->Form->end(); ?>
        </div>
    </div>
    <?php endif; ?>
</section>
<?php echo $this->element('item_complete'); ?>
<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking:false">
    <?php echo $this->Form->create('Item',
    array('id' => 'FileUpForm',
    'url' => '/mypage/image_fileup',
    'type' => 'file',
    )); ?>
    <?php echo $this->Form->input('id',
    array('label' => false,
    'type' => 'hidden',
    'value' => $arrData['Item']['id'],
    )) ?>
    <?php echo $this->Form->input('member_id',
    array('label' => false,
    'id' => 'input_member_id',
    'type' => 'hidden',
    'value' => $arrData['Item']['member_id'],
    )) ?>
    <?php echo $this->Form->input('input_name',
    array('label' => false,
    'type' => 'hidden',
    'id' => 'input_name',
    )) ?>
    <?php echo $this->Form->input('title',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_title',
    'value' => $arrData['Item']['title'],
    )) ?>
    <?php echo $this->Form->input('price',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_price',
    'value' => $arrData['Item']['price'],
    )) ?>
    <?php echo $this->Form->input('category',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_category',
    'value' => $arrData['Item']['category'],
    )) ?>
    <?php echo $this->Form->input('discription',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_discription',
    'value' => $arrData['Item']['discription'],
    )) ?>
    <?php echo $this->Form->input('message',
    array('label' => false,
    'div' => false,
    'class' => 'pl10',
    'type' => 'hidden',
    'id' => 'fileup_message',
    'value' => $arrData['Item']['message'],
    )) ?>
    <?php echo $this->Form->input('password',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_password',
    'value' => $arrData['Item']['password'],
    )) ?>
    <?php echo $this->Form->input('fee',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_fee',
    'value' => $arrData['Item']['fee'],
    )) ?>
    <?php echo $this->Form->input('tag1',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_tag1',
    'value' => $arrData['Item']['tag1'],
    )) ?>
    <?php echo $this->Form->input('tag2',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_tag2',
    'value' => $arrData['Item']['tag2'],
    )) ?>
    <?php echo $this->Form->input('tag3',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_tag3',
    'value' => $arrData['Item']['tag3'],
    )) ?>
    <?php echo $this->Form->input('tag4',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_tag4',
    'value' => $arrData['Item']['tag4'],
    )) ?>
    <?php echo $this->Form->input('tag5',
    array('label' => false,
    'div' => false,
    'type' => 'hidden',
    'id' => 'fileup_tag5',
    'value' => $arrData['Item']['tag5'],
    )) ?>
    <?php echo $this->Form->input('main_image_file_name',
    array('type'=>'hidden',
    'label'=>false,
    'div' => false,
    'value' => $arrData['Item']['main_image_file_name']
    )) ?>
    <?php echo $this->Form->input('sub_image1_file_name',
    array('type'=>'hidden',
    'label'=>false,
    'div' => false,
    'value' => $arrData['Item']['sub_image1_file_name']
    )) ?>
    <?php echo $this->Form->input('sub_image2_file_name',
    array('type'=>'hidden',
    'label'=>false,
    'div' => false,
    'value' => $arrData['Item']['sub_image2_file_name']
    )) ?>
    <?php echo $this->Form->input('sub_image3_file_name',
    array('type'=>'hidden',
    'label'=>false,
    'div' => false,
    'value' => $arrData['Item']['sub_image3_file_name']
    )) ?>
    <?php echo $this->Form->input('sub_image4_file_name',
    array('type'=>'hidden',
    'label'=>false,
    'div' => false,
    'value' => $arrData['Item']['sub_image4_file_name']
    )) ?>

    <button data-remodal-action="close" class="remodal-close"></button>
    <h2>ファイルアップロード</h2>
    <p>画像・商品ファイルをアップロードして下さい。</p>
    <div id="drag-drop-area">
        <div class="drag-drop-inside m10 p30　front-img">
            <p class="drag-drop-info">ここにファイルをドロップ</p>
            <p class="drag-drop-info">または</p>
            <p><?php echo $this->Form->input('file',array('type'=>'file','label'=>false,'div' => false,'class'=>'aligncenter','accept'=>'image/jpeg,image/png,image/gif','id'=>'fileInput')) ?></p>
        </div>
    </div>
    <button data-remodal-action="cancel" class="mybtn mybtn-cancel">キャンセル</button>
    <button id="fileup_submit" class="mybtn mybtn-upload">アップロード</button>
    <?php echo $this->Form->end(); ?>
</div>
<script>

var maxFileSize = <?php echo $arrUploadMaxSize ?>;
var itemUploadFile = document.getElementById('item_upload_file');

itemUploadFile.addEventListener('change', function(evt){
    fileSize = itemUploadFile.files[0].size;
    bytMaxFileSize = maxFileSize * 1024 * 1024;

    if (fileSize >= bytMaxFileSize) {
        alert("サイズが" + maxFileSize + "M以上のファイルはアップロード出来ません。");

        itemUploadFile.value = "";
        itemUploadFile.files = null;
    }
});

/* ファイルアップロード時のスクリプト */
function updateProgress(e) {
    if (e.lengthComputable) {
        var percent = e.loaded / e.total;
        $("progress").attr("value", percent * 100);
    }
}
function uploadFile() {
    var formData = new FormData(fileUpForm);
    $('#progress').val(0);
    $('#progress').show();

    // Ajaxで送信（プログレスバーを出すためだけ）
    $.ajax({
        url: fileUpForm.action,
        method: 'post',
        data: formData,
        processData: false,
        contentType: false,
        xhr: function(){
            XHR = $.ajaxSettings.xhr();
            if(XHR.upload){
                XHR.upload.addEventListener("progress", updateProgress, false);
            }
            return XHR;
        }
    }).done(function( res ) {
        if (res.trim() === '') {
            console.log( 'INVALID' );
            alert('送信に失敗しました。');
        } else {
            console.log( 'SUCCESS', res );
            window.location.href = $(res).find('form').attr('action');
        }
        // document.write(res);
    }).fail(function( jqXHR, textStatus, errorThrown ) {
        console.log( 'ERROR', jqXHR, textStatus, errorThrown );
        alert('送信に失敗しました。');
    });
}

var fileInput = document.getElementById('fileInput');
var fileUpForm = document.getElementById('FileUpForm');

var dragDropAreas = document.getElementsByClassName('drag-drop-inside');

for (var i=0; i<dragDropAreas.length; i++) {
    var dda = dragDropAreas[i];
    dda.addEventListener('dragover', function(evt){
        evt.preventDefault();
        this.classList.add('dragover');
    });
    dda.addEventListener('dragleave', function(evt){
        evt.preventDefault();
        this.classList.remove('dragover');
    });
    dda.addEventListener('drop', function(evt){
        evt.preventDefault();
        this.classList.remove('dragenter');

        var inputName = document.getElementById('input_name');
        if (!inputName.value) {
            var id = evt.srcElement.id;
            if (!id) {
                id = evt.srcElement.parentElement.id;
            }
            var i = id.slice(-1);
            var name = '';
            if (i==0) {
                name = 'main_image';
            } else if (i=='i'){
                name = 'item_file';
            } else {
                name = 'sub_image' + i;
            }
            inputName.value = name;
        }

        var files = evt.dataTransfer.files;
        fileInput.files = files;
    });
}
fileInput.addEventListener('change', function(evt){

    fileSize = fileInput.files[0].size;
    bytMaxFileSize = maxFileSize * 1024 * 1024;

    if (fileSize >= bytMaxFileSize) {
        alert("サイズが" + maxFileSize + "M以上のファイルはアップロード出来ません。");

        itemUploadFile.value = "";
        itemUploadFile.files = null;

        $("#div-i").removeClass('dragover');
        return;
    }

    uploadFile();
});
</script>
