<?php
$meta_title = Configure::read('html.register');
$meta_keywords = Configure::read('html.register');
$meta_description = Configure::read('html.register');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$arrTopicPath[] = array('マイページ' => '/mypage/');
$arrTopicPath[] = array('デスクトップ' => '');
$this->set('arrTopicPath',$arrTopicPath);

$this->Html->css('/css/main02.css', null, array('inline' => false));

$arrGender = Configure::read('arrGender');
$arrMailMagFlg = Configure::read('arrMailMagFlg');

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<section>
  <h2 class="f25 mb20">マイページ</h2>
  <div class="mypage_row ml20 mr20">
    <div class="black waku01 mt20">登録情報</div>
    <table class="table03 mt10 black">
      <tbody>
        <tr>
          <th>登録情報　&#8230;</th>
          <td><p class="item-p01"><a href="/mypage/profile">登録情報を変更する</a></p></td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td><p class="item-p01"><a href="/message">メッセージ一覧</a></p></td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td><p class="item-p01"><a href="/mypage/followerlist">フォロワー一覧</a></p></td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td><p class="item-p01"><a href="/mypage/withdrawal">退会する</a></p></td>
        </tr>
      </tbody>
    </table>

<?php if($arrData['Member']['mode'] == 'profile'): ?>
    <div class="black waku02 mt50 mb20">会員登録内容変更</div>
<p class="mt20"><span class="red">※</span>は必須項目</p>

<?php echo $this->Form->create('Member',array('url' => '/mypage/profile_confirm/',)); ?>

<div class="bg_white p10 mr10 ml10 col-xs-12 prof_main">
    <dl class="tbl-common01">
      <dt>氏名　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['name']) ?>&nbsp;</dd>
      <dt>氏名(フリガナ)　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['name_kana']) ?>&nbsp;</dd>
      <dt>会社名　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['company']) ?>&nbsp;</dd>
      <dt>郵便番号　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['postcode']) ?>&nbsp;</dd>
      <dt>住所　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['address']) ?>&nbsp;</dd>
      <dt>電話番号　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['phone']) ?>&nbsp;</dd>
      <dt>性別　<span class="red f80">※</span></dt>
      <dd><?php echo @$arrGender[$arrData['Member']['gender']] ?>&nbsp;</dd>
      <dt>生年月日　<span class="red f80">※</span></dt>
      <dd><?php echo $arrData['Member']['birthday']['year'].'/'.$arrData['Member']['birthday']['month'].'/'.$arrData['Member']['birthday']['day'] ?>&nbsp;</dd>
      <dt>ニックネーム　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['nickname']) ?>&nbsp;</dd>
      <dt>プロフィール紹介文</dt>
      <dd><?php echo h($arrData['Member']['comment']) ?>&nbsp;</dd>
      <dt>メールマガジン　</dt>
      <dd><?php echo @$arrMailMagFlg[$arrData['Member']['mailmag_flg']] ?>&nbsp;</dd>
      <dt>銀行名<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['bank_name']) ?>&nbsp;</dd>
      <dt>支店名　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['branch_name']) ?>&nbsp;</dd>
      <dt>支店コード　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['branch_code']) ?>&nbsp;</dd>
      <dt>銀行口座　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['account_no']) ?>&nbsp;</dd>
      <dt>銀行名義　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['deposit_name']) ?>&nbsp;</dd>
    </dl>
    <div class="textcenter mt20">
      <a href="/mypage/profile/mod"><input type="button" value="変更する" class="mybtn-bl mybtn-bl-md"></a>&nbsp;
      <input type="submit" value="確定する" class="mybtn-bl mybtn-bl-md">
    </div>
<?php echo $this->Form->end(); ?>
<?php endif; ?>

<?php if($arrData['Member']['mode'] == 'email'): ?>
<div class="black waku02 mt50">メールアドレス変更</div>
<p class="mt20"><span class="red">※</span>は必須項目</p>

<?php echo $this->Form->create('Member',array('url' => '/mypage/profile_confirm/',)); ?>

<?php echo $this->Form->input('id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => $arrData['Member']['id'],
)) ?>

<?php echo $this->Form->input('mode',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => 'email',
)) ?>

<div class="bg_white p10 mr10 ml10 col-xs-12 prof_main">
    <dl class="tbl-common01">
      <dt>メールアドレス　<span class="red f80">※</span></dt>
      <dd><?php echo h($arrData['Member']['email']) ?></dd>
    </dl>
    <div class="textcenter mt20">
      <a href="/mypage/profile/mod"><input type="button" value="変更する" class="mybtn-bl mybtn-bl-md"></a>&nbsp;
      <input type="submit" value="確定する" class="mybtn-bl mybtn-bl-md">
    </div>
<?php echo $this->Form->end(); ?>
<?php endif; ?>

<?php if($arrData['Member']['mode'] == 'password'): ?>
<div class="black waku02 mt50">パスワード変更</div>
<p class="mt20"><span class="red">※</span>は必須項目</p>

<?php echo $this->Form->create('Member',array('url' => '/mypage/profile_confirm/',)); ?>

<?php echo $this->Form->input('id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => $arrData['Member']['id'],
)) ?>

<?php echo $this->Form->input('mode',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => 'password',
)) ?>

<div class="bg_white p10 mr10 ml10 col-xs-12 prof_main">
    <dl class="tbl-common01">
      <dt>パスワード　<span class="red f80">※</span></dt>
      <dd> ****** </dd>
      <dt>パスワードのヒント　</dt>
      <dd><?php echo h($arrData['Member']['password_hint']) ?>&nbsp;</dd>
    </dl>
    <div class="textcenter mt20">
      <a href="/mypage/profile/mod"><input type="button" value="変更する" class="mybtn-bl mybtn-bl-md"></a>&nbsp;
      <input type="submit" value="確定する" class="mybtn-bl mybtn-bl-md">
    </div>
<?php echo $this->Form->end(); ?>
</div>
<?php endif; ?>

</section>
