<?php
$meta_title = Configure::read('html.mypage');
$meta_keywords = Configure::read('html.mypage');
$meta_description = Configure::read('html.mypage');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$arrTopicPath[] = array('マイページ' => '/mypage/');
$arrTopicPath[] = array('デスクトップ' => '');
$this->set('arrTopicPath',$arrTopicPath);

$this->Html->css('/css/main02.css', null, array('inline' => false));
$this->Html->css('/css/style.css', null, array('inline' => false));

$code_area = <<< EOF
    $('#btnDraft').click(function() {
      $("#status").val(0);
      $("#formMessage").submit();
    });
EOF;
$this->assign('script_area', $code_area);
?>

		<section>
		<h2 class="f25 mb40">マイページ</h2>
		<h3 class="ml30 mb20 mt20 black underline"><span><a href="/message/">メッセージ管理</a></span></h3>
		<dl class="follow clearfix black ml40 spml_0"> 
			<dt>総合管理　　・・・</dt>
			<dd><a href="/message/receivedlist/"><img src="/img/plus.png" alt="プラスマーク" class="pb05 pr05">受信メール一覧</a></dd>
			<dd><a href="/message/sendinglist/"><img src="/img/plus.png" alt="プラスマーク" class="pb05 pr05">送信メール一覧</a></dd>
			<dd><a href="/message/draftlist/"><img src="/img/plus.png" alt="プラスマーク" class="pb05 pr05">下書き一覧</a></dd>
			<dd><a href="/message/trashlist/"><img src="/img/plus.png" alt="プラスマーク" class="pb05 pr05">ゴミ箱</a></dd>
		 </dl>

		<h3 class="ml30 mb30 mt40"><span>送信する</span></h3>
<?php echo $this->Form->create('Message', array('id' => 'formMessage', 'url' => '/message/draft/'.$intMessageId)); ?>

<?php echo $this->Form->input('id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => $arrData['Message']['id'],
)) ?>

<?php echo $this->Form->input('to_member_id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' =>  $arrData['Message']['to_member_id'],
)) ?>
<?php echo $this->Form->input('from_member_id',
                            array('label' => false,
                                  'type' => 'hidden',
                                  'value' => $loginMember['id'],
)) ?>
<?php echo $this->Form->input('status',
                            array('id' => 'status',
                                  'type' => 'hidden',
                                  'value' => 1,
)) ?>

		<table class="ml30 mb15 width100">
			<tr>
				<td class="pl10 pt05 pb05 width50p">宛先：</td>
				<td class="pl10 pt05 pb05"><?php echo $arrData['ToMember']['company'] ?> <?php echo $arrData['ToMember']['name'] ?></td>
			</tr>
			<tr>
				<td class="pl10 pt05 pb05 width50p">件名：</td>
				<td class="pl10 pt05 pb05">
<?php echo $this->Form->input('subject',
                            array('label' => false,
                                  'div' => false,
                                  'type' => 'text',
                                  'class' => 'width410p re-width',
                                  'value' => $arrData['Message']['subject'],
)) ?>
        </td>
			</tr>
			<tr>
				<td class="pl10 pt05 pb05 width100p">内容：</td>
				<td class="pl10 pt05 pb05">
<?php echo $this->Form->input('body',
                            array('label' => false,
                                  'div' => false,
                                  'type' => 'text',
                                  'class' => 're-width',
                                  'rows' => 10,
                                  'cols' => 50,
                                  'value' => $arrData['Message']['body'],
)) ?>
        </td>
			</tr>
			<tr>
				<td colspan="2" class="pt05 pb05 text-center"> 
					<p class="textcenter pt20">
                      <input type="submit" value="送信" class="p10 mybtn-bl mybtn-bl-sm"  style="80px">
                      <input type="reset" value="取り消し" class="p10  mybtn-bl mybtn-bl-sm" id="no_agree" style="120px">
                      <input type="button" id="btnDraft" value="下書きに保存" class="p10  mybtn-bl mybtn-bl-sm" style="150px">
					</p>
			</tr>
		</table>				
		<?php echo $this->Form->end(); ?>

</section>
