<?php
$meta_title = Configure::read('html.mypage');
$meta_keywords = Configure::read('html.mypage');
$meta_description = Configure::read('html.mypage');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$arrTopicPath[] = array('マイページ' => '/mypage/');
$arrTopicPath[] = array('デスクトップ' => '');
$this->set('arrTopicPath',$arrTopicPath);

$this->Html->css('/css/main02.css', null, array('inline' => false));
$this->Html->css('/css/style.css', null, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('script_area', $code_area);
?>

		<section>
  <h2 class="f25 mb20">マイページ</h2>
  <div class="mypage_row ml20 mr20">
    <div class="black waku01 mt20"><a href="/message/">メッセージ管理</a></div>
    <table class="table03 mt10 black">
      <tbody>
        <tr>
          <th>総合管理　&#8230;</th>
          <td>
            <p class="item-p01"><a href="/message/receivedlist">受信メール一覧</a></p>
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <p class="item-p01"><a href="/message/sendinglist">送信メール一覧</a></p>
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <p class="item-p01"><a href="/message/draftlist">下書き一覧</a></p>
          </td>
        </tr>
        <tr>
          <th>&nbsp;</th>
          <td>
            <p class="item-p01"><a href="/message/trashlist">ゴミ箱</a></p>
          </td>
        </tr>
      </tbody>
    </table>

<?php if($strStatus == 1): ?>
		<h3 class="mb30 mt40"><span>メッセージ送信完了</span></h3>
        <p class="textcenter">メッセージを送信しました。</p>
<?php endif; ?>

<?php if($strStatus == 0): ?>
		<h3 class="mb30 mt40"><span>メッセージ保存完了</span></h3>
        <p class="textcenter">メッセージを下書きとして保存しました。</p>
<?php endif; ?>

        <p class="textcenter"><a href="/message/">メッセージトップへ戻る</a></p>
</section>
